.btn-primary {
    color: #8ba744;
    background-color: transparent;
    border-color: #8ba744;
    border-radius: 30px;
    border-width: 2px;
    transition: all 0.4s ease-in-out;
}

.btn-primary:hover {
    color: #fff;
    background-color: #8ba744;
    border-color: #8ba744;
}

/* headings and base text*/
section{
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  text-align: center;
  color: #92A54D;
  margin-top: 0;
}

.section-title::after{
  background:transparent url('https://lh3.googleusercontent.com/uplkVVOn55iTnx5S_vDUOF2w8EUBilvqeRc6XzOcAC4EmcZRn9ZV95ThBiBvFM5jmlXd448y8DbnauYSH4nkUnyPZM7U8M17hQPyV0X2umzgQHebaoyj8bO5rqLfmcJIfuarWhjyMW3G9x6fwTMFYGYEa6oCEFsRXLlLks86yg0BC2LmNUyZRp-Sdxjo1nrjrnzsCw4OjRi6rUetrLRLzqV1U9YtaaMfrOcxj29pLT9izTxsXd_28fFIzGd090S7-lbTsKAy9nDfGQh0_Dz1wrRi04eawgnB1gIaMMgM7d6ERCG6rDIf5praDgwhfDSwrATuXtth5s9G1EVix69exXLZl0KH3OH5tmq_pgKbWe63ONaGxXvmk1DrDdoAQecCVZCqcczOGfOE_SLjoGwSJ3rPhgU8CJeDvpo_8WbFytmIKaaUZhboavPQAtyJc8fxyUIehFHlvs84po7z_8aODUekaZS4xXHHCxRf9vd8Dxe1NOEi7EBDR17KWCykvYfk3nAQy9Bh7tjlR86EOnf1DZV8eHYLWo3if6npicbevQXgFAs7Rj8xyuuJ_uSKdWStSqyyRPXXr76sbkTEjr2wdbHn-jLe7ZRRNzapNPnmeYj4V2ICKkkAEcG1eRJ92WBkooYlsVp0pG22RbG3AJUBLu1uptBjy6y5IRVTrnYUKw=w154-h45-no') no-repeat;
  background-size: cover;
  content: '';
  display: block;
  width: 100px;
  height: 30px;
  margin: 0 auto 0 auto;
}

.title{
  color: #92A54D;
}

.text-center{
  text-align: center;
}

/* Nav-Bar */

.navbar-fixed-top{
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  padding: 5px 0 !important;
  border-radius: 2px;
}

.navbar-fixed-top .navbar-brand{
  display: block;
}

.navbar-fixed-top .navbar-brand2{
  display: none;
  margin-left: 40px;
}

.navbar-brand>img {
  height: 60px;
}

.navbar>.container .navbar-brand{
  height: auto;
}

.navbar-nav>li>a{
  color: #78736A;
  height: 61px;
  width: 80px;
  text-align: center;
  padding: 35px 0 0 0;
  margin-left: 15px;
  transition: padding .5s ease-in-out;
}

.nav>li>a:focus{
    background: none;
}

.navbar-nav>li.active>a,.navbar-nav>li>a:hover{
  color: #92A54D;
  background: none;
  font-weight: bold;
}

.top-nav-collapse {
    padding: 0 !important;
}

.top-nav-collapse .navbar-brand{
  display: none;
}

.top-nav-collapse .navbar-brand2{
  display: block;
  margin-top: 10px;
}

.top-nav-collapse .navbar-brand2>img {
  height: 40px;
}

.top-nav-collapse .navbar-nav>li>a{
  padding: 20px 0 0 0;
}

/* Temp area for testing */
body{
  position: relative;
}
/* fin temp*/

/* Section Home */
#home{
  background: url('https://lh3.googleusercontent.com/wu0JM5dvbBi1rExaOA_-wzCoM-DwA9j9MK69no-YSdh9TzaHvTZDC_IOgsRA0K8pcLva8JYxuUxSzX_9UBJhshn3qmCY6QXJSiHgVv7kpgyoXBrOwKgSJGU9psTqvvT4paTTrg8BEh-Fk3lTuAcpAXVTBPqnaH5if6B3XNn7793fC6BmtmBNMTKEi868PYJAnchClYJkQrMYYv6A4d1ygTKIQOfkI0PsINGqjotHh7uNkyW6B6ofEn28jYksXAZmdW6WFpxnp7eNSLoWUUqtxBoihM6cM-3ECBA5F88Hu8C_yZPSCfQu29reB1c_7koNMCZiR0CiloUsiUUaSMMDAd7ZmdIDEYQbJzV6F1k1NzNDv_fLGOUZb8zV8Zynd1kJq_hygXxRpWrFri2zKbFdZRMrpA-_u0CiJhYrSo-gCZT2Bq8Z-ZoNajhweHra7XZWak-QOt_NNxyFqOxy3Z3MNFXlPAhShZ1XZ9hbY2k-x4Hzfkx6wGsVUPWiL3sl-hLClr-qBfaWrna8o3NOkEul0O07hNpBI1SwVzq9io6ZKtOCaOrH4RSKgMOKjaefe23jehyGierhbuLqCGTOrCI9q0VuphLEMllvfvYuM0gZiYa-5EH0XrPCBiTYyVYbulpurEX-ajXu7H8TnVh9Gi2yPj_TbF3C7KlWptcBqX9fFg=w1155-h770-no') top;
  background-size: cover;
  padding-top: 90px;
}

/* Section Services */
/* service circle effect */
.ch-grid .single-item {
	width: 220px;
	height: 220px;
	margin-top: 15%;
  align-content: center;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
  	box-shadow:
  		inset 0 0 0 1px rgba(255,255,255,0.1),
  		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}

.ch-img,.ch-img-1,.ch-img-2,.ch-img-3,.ch-img-4{
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

.ch-img{
	background-image: url(https://lh3.googleusercontent.com/2_DDHdlzXCcOVNZJDVsBN40FQ5VyQGgfNMmRgEdWr4pnFFXNkz_IdEBHJeUNLnjMFoMEUgy7ioh_01V6X_UOKh9nInwM9UHrU0DvT-rU385igZuHpL46-vF0z8aUouio86HrERjy24KAz1PY3U8QCUsbyDEpTzLSUYuW4VZRuZC7GhBGIt1N77cb50346LK4b5tMpD2-bGBUkMnyDog3wC-CqtMsQOKJNvxTJqehnIRcb_aXoWDZgTQ2Tt6NjAwLKDOtu3iO8aEfHWH_tMYaJI14nvGN2aR8g_jHyZU0F0SjlVcMcfELzRfnR7I_MoxcSQjVS6NDQDNr4bOC1ipxpLzNds3Q7eBi6ZzzcwUHhgVUdA6s_XRoRDA9iQ3Mop-Ogc-cxWaFcyg9UavO1X4AIsnAXjXTCL0KtyNln7zp48lBps7YujoIBXbY-BgFWu3UXqv_eazVU-2rauv-cYjpxfC6CKQ8zPCVCz3F0OtauH8hxkePPu-4RPNlWWbQjzzpUV2G0CIXSFgQpPmttM2Alsbm5kOeebjIu2R9Ma39XxqNsrvLMlUQQmvSGC-JzJQVuwtZHAofmDkxdDuw6CkLqDZ1tBLHRK5IngWLJFEn8HB7uJbn5xmPrbukf068pnYIYfLMYVtxcQbDvUAncIfR3PtOjY5MjmrLuwppK8P1pQ=s512-no);
}

.ch-img-1 {
	background-image: url(https://lh3.googleusercontent.com/zzPIxYRGfrF6l5MJlxcI6nJfnHJeMfijOOqKwE9DLbAS1tU_nWjBNdI6bnO0W3LS6Fhgq8ayesGnHyrIqV7WY792idg0NPZL7xGZ3DA7LEW80t4l3PDPBrgieZXZQZdJAUr_wcDCVP66oFCRIfVLJYO1iiGJaXE1-EvlccTnB6B55nU7DMM9g4RC2bGIzpeGYAj3FkgMUEAgwbcp-5CRH0Q1c1mKND7VHk8qQOolsMkKP-WgwBPAWkSWhx3DXEX7v_bo-0nqKqR875YRLUtc_5HcK8e9B9ZWeyEiSjL5R198qZ09-FEzpcibJJ4fOcyMvh64m_Hrzmp2g63ispdlircZekuM5aBE_O8QDwrYkl9oW_P-HPyntK2NZpXDscZ0cDz20SC2nyBvVx1im_StAk5_5KXLAkmga0xuQ-LcPTCJJ9W7hRYgp6i3QOrQZX4a_7Eg_sc7O-b-M3MApMit1YT9zfZBntNOM2JbLBBYUjEC4qdb9Q6H_G_eBEjZmcT-EpjAIpZL2dekj5QwyEfSYxK-sKzEQ--VIe2p7aU3FcUfI3GeVJ4zQdvdcVvfcjR5n0kscc9ZMxP_CzhAyYse-aooP4YSRv090KoZmXZPa9PVyK_5ULQ5GW81JTnfk6vWjRGtJBHrikg7M7fs3aY7-IwGYPsPigTqDzVjUlWLbg=s512-no);
}

.ch-img-2 {
	background-image: url(https://lh3.googleusercontent.com/-ZM9SxpXIyIDPnhrWlethU1l-9ukYFS_C0gfzgdYuJI5VbyZjvsaDX6sRhdjlbRQHBQIvQU5yCcHraq6wGc-hgCG9VVJ5mvjFRwx_Z1u_TQ756pVraK3DSnn5K2SUPSpxqecqvqmiMPj-OBuZCPNFK1wP2EemPpvu8T2cCigXpTJsl5xfr4cBh64NTsMJPV5d07ri7tWcJS_ZFb-dYSuh53utDqYYabmXtzwPnfvDrQs-Z4kqOZjUqipH50gUrn6Tx1oZ3pjTKjU1LpFq1SFoz_jiDDixOVjV93EZwPrqeYE-JmWZVZAXf3xqAqj4ArPS3ycJnHy3IihVi6iMpYih0pT9ML52JP7AnlY8WmilrVCX3JkCC8blQHx-71aSDY6anDX3yUJNScxsF4jDpuSJLkLjaSLJb_RUGtjAPz9ad9WTN2cnJ5okenG3onIqP2zCfvL4mTnDI3i3mO3Qw6j6s6IJpNAtzyROlDUVdt9lGyUxw0Zwo77Pe-n-9ySmsDK1W13gN9rIOr29CkxJ2FCVh8is9HUISFPvN1BKSbzASirRWNx_SoXPh7FmP2f35Wu4h_uUK3HaKKbpw0sWqwAjOYSZAG5IZUHxj72gIHfCIA1q0IUoUD1LuiatZWleK0sjUv5Ey6WAZ0zw73h5Y0_QHjLGSSjoJfFzKDxmSrjeQ=s512-no);
}

.ch-img-3 {
	background-image: url(https://lh3.googleusercontent.com/Ruxab733jjDkYwBhf893SeDN2Zj1OOIAm8dfUbQmyGt_58ROlXg6feMbftnSXagWqlVQSCWcgKG8lq0JOcwJ12seqkSoUgmO724nTF6d52Gaqn5dggwMZFI_i0j70Q1wGmnU_Zw1ZubXSWAsZa_ucPQuEHL6QjPihTTk_uDpKTgoQ7gzvTv0tyKHUK_zrH7O_s1iZcXUDhHFxFcskjmw-8mpExig2MiALtJXr6cNXexhuJFFsexzhmgulVjJ_5XB2yY7_ADK47dMVqDRWCBxi0Ak-6nbfnJzhWGc86M_sv9K-k4wa_LQu5Ez4B3VCKrBVzIgVsmwHV_USnaX82a3ufelUzxA9cTaQFMNMRF7wyFaj-NDmq22iP2ELCoiTY6KzBmn0fFDgbFTEKI1EgaW8npmMBHvJI2xnFuhYz2T5ZIe1CPfO_w3mF-0xibP-SR2a8GIT-e16ElaAPZkO3ySmxQ4U9kFXxL0we-pjz3oYDpvfwM5jxDgYN6NYccaNGEFclaym1koLjsSI2FdrE-Xw55HhfYvoybzsCEI2g6XxPe-UMJVZNpp348c5Ul68WtoaGEdZUAtjWkinxzz85jWgvNNJ_v42WOIptbOmEde-6uD7_SW_FOaTPxzr9lCKqHugRZqOTdqTc5TfkDZWS3ELzfYMq-DFQ-RpPCSowtfmg=s512-no);
}

.ch-item:hover {
  box-shadow: inset 0 0 0 5px rgba(139, 167, 68, 0.88), 0 1px 2px rgba(139, 167, 68, 0.88);
      transform: scale(1.05);
}

.ch-item:hover .ch-info {
	opacity: 1;
}

.ch-item:hover .ch-info p {
	opacity: 1;
}

#services{
  height: auto;
}
#services .item{
  height: 420px;
}

#services .item-text{
  padding: 15px 0 15px 0;
}

  /* service circle effect end*/

/* about section */

#about-us{
  height: 560px;
}

#about-us .container{
  margin-top: 2%;
}
/* */

/* team */
#team img.active {
  border: 5px solid #8ba744;
}

#team .wraper {
  width: auto;
  margin: 0 auto;
}

#team .personal-info {
  margin-bottom: 50px;
}
.skillst10 .count-bar,.skillst10 .skillbar{
  border-radius: 15px !important;
}
#team{
  height: auto;
}
#team .personal-info img{
  height: auto;
  cursor: pointer;
}

#team h3{
  margin-top: 0px !important;
}

#team ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#team .personal-info a{
  height: 30px;
  width: 30px;
  display: block;
}

#team li{
  display: inline-block;
}

#team li.twitter{
  background: url(https://lh3.googleusercontent.com/qbsMAVEjd5Z8lxayAogDoMIU9OckZBERMMMyQqyxOWbG8BlCXQ8u1Bd_tPm-l5pd1lZQs8JU88RgGz80vPN0qNvpqfcG9fsXY1SokWoEiY1f32WzS7OM9ONYV2m0ve_hI7JLkJM0Mg7SHOE8PrvGWMNLNBAZf4UuPnLcE6ps9r4_CSDHw1Mx6ZmC2zbi3_x6Eqg2RPFUipc7O_zhB5i-h_1BP5lSQA5vNpd0nS9geszqe1PH7iy52ztA0si3kO6x8GUnAEbYKi78y0ZxSMASeyYtDTdjthC1gbpBkacUQ2VmEUsD_IeVJ7a1LccLHC6ye7UDL5ZcRmm9P85QcyKnm5eNRktHjy-Z_tkXyoyjCryHo4rnUyD1TQLdg9zDuKKbbGgPhtfxNW9oBwp7WPSlFVJEopydY5TODqHH_qMFo3ESb6kwu5UZzz2Q1Yihhzic-n-a12nNDaZx-FzevH4GV860R_0INZ9FqMXERZ16ylVVNTXJezr9slrP__v0K6PhJ-EUVFSZEtuC-M4Z8-XciJiHvn90xzVpintSLPqzJwDanDZXN8e7S1L4sPJToNKVgWvSEFq5YHBFMHAQplq6Y44X29gEoSHF-aDTrr5jWVBbf-TlHaL30kmxRdYuOfaAMhysWrfpvrTiPl4kwTCwqx52sRbUa1HDp5LOST-fJA=s585-no) center ;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#team li.instagram{
  background: url(https://lh3.googleusercontent.com/B25Z_N5BoKhoHbdmSa67a5rLLICjnZ8cOjOgIbf2JOWKxP95u7EkSWvXunfpSK4e3rK5_GbnYNGZbO0RK9Kg1oxS6MNSu95MBH4-FWwXHFQr_AmRBCKftPPtw_zFskBUeNQDhTU8NfiK-Yhw0EMwez0btY583h0HiK4ZTNvR60_p858tTZGtIAaCSbifC5uyToVjsxEEAzovJ-l9FuTwZXb8M7HFOYbGkfr2hTliN5eBi73eiA5TGKCIFkP5s43193jjOCHGLUeKgUfPLNdX2fIL_G4H0RsDJReuQVCimEF9thr4wXnNa1WQWJMkAMCSHXj2SN1wuzQO7mPxNP36h6rVfq4GpiYCLWXBHQqMX6rwS_Pmf15GhhkdfDWucJiRZBzwfQi-R8xDwaxCx2fv1bUnyhy7qwl68Dtkub_zsNvhSTlhXoi_CFDDQFvOOzvCO3ZRn2r0N8b56jRr9HfoBk-JPYnsx6kFHUCcJyhXDtIVqFNCK8d7a3q4zqw5r2ap88rj3Gfww0zLaug3erlCFAufZVm2-WZAhAMUuoyW1g8Cp1Rl_6oV_M8FHV9nTlJirsDq7AM6ZFkTrnYZeAr-I2yVrjLXJF0Hb9b-lJkS1uKLXSskDThwq1A-yYRoy7kMNeTn6fepOd2mJsSc6LBFeIoIo_XgIbsVGM2Sqc3tow=s585-no) center ;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#fast-contact {
  background-image: url('https://lh3.googleusercontent.com/6dWYDwddcO_Mr6Vnk9Ee0IWc9G3Ub77o_3aLe7YR0ch94V4G9Dz9pGlTe27blCdGJwaNqJcIv1_MYx08As4oIJlnH48s791_3wwcDatpt-m-nyiDTeguKPGFuU1cQsM_GKw0TmeZyHUUzN0U6GXUg1h_X-PWYr6C-AWW-qmvykKLQ0kEzwSwksTLq9xdSX92wqlYDLzrU5qkEP4WLU3I567o3Szv2ozzg-Ot8EaI5VlmKD3VcNDMAsHm1d7M-hFXX9XCUifyu2cFtWHgw52I_QfdKuvOrqbxs-vIx21xsq8wCtrleGz4tGx7tDQYO_IMw8qF_jSimxdTZcPw6klF3URY2xNHRIxLyOEsquAdRpyy50bbA9tW_6DaUhtTcDffA_PP5d2P3AA0c4ndwKdYhXA04tc5Lqt7YOaItmMSKTrAPeTBRkRf9_vjxw_eF2nBiTSq3c0sV3FbeEnFxqa-RcSj79eLi1P8OZp8NF2Vj4KMWgpMIusd2wARzILCXsAzYihH7taycY3KrPkP7fTT9AHxqdIAW4qREzlk-1aASDgd49UVeJ-Kvq24FNTQAEL7ve_coCKlKBckyXo8qLySu1t4p8tLOq5cM9Ae-Rrix5qAUZE3urUmNP_LBVG62BXGJKKwmKdLm7yieruQ-GpzpaaWRXKgU-yQuzMljKSamw=w1335-h770-no');
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}

#fast-contact h3 {
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 2px 2px 3px #333;
  color: #f8f8f8;
}

#fast-contact .btn-primary{
  color: #f3f3f3;
  border-color: #f8f8f8;
}

#fast-contact .btn-primary:hover{
  color: #8ba744;
  background-color: #f8f8f8;

}

#fast-contact .banner{
  margin-top: 4%;
}

#fast-contact .banner a{
  width: 130px;
}
#contact{
  height: auto;
  background-color: #f8f8f8;
}
#contact .info-item > img{
  width: 100px;
  height: 100px;
}

#contact .info-item .item-image-1,#contact .info-item .item-image-2{
  background-size: 43px;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: rgba(0, 0, 0, 0.31) 1px solid;
  transition: all 0.4s ease-in-out;
}

#contact .info-item .item-image-1{
  background-image: url('https://lh3.googleusercontent.com/bxow06aU3SSGe8MYnWyv8Qt9IIahRW3GuKHyp1aV_N5BR5G6mhm09CLuo94bPuQwgKHODvTs2G1F_KF5PnAsK3quFF-Y4myMZTBSYhzulfJ6Hm-TsIEbvtgyCXD3w-xUvKWBAU2H88_QBiyGrEX8HVsZjFU0mwIHSVoLOuTgskiIkC-58Wgv-43x83EELNDegLWLZ0jD5CXBePGHfz5I5aESNvL82P0GAy2cFb1eUcvzbrtKHHUa_o_3ridptYXIlNmkwPl8RTw3HylVq4RdfIuz-8x_IGoHZ6EyiGLIBjGSeV0nI02e7gGKgOAC2FjB-Nd9CbHYQUL76LFzoq02ZJ3cnxn_pTobOGSw0PEUSuwx8A27PfjzFJ9S8tDMwo9L2dYejOf0pfye4D-IjrDH3X_N_lAw64o-Mf5ne0UMcK-cRRQKjH9KF9Csb60H5JzkyP5dde07H3M8rUjkKQDibJAPBetYXxH8WobTgikz6YjmNi63BN3rVx8Qm6Zr9ngieF4K_UjWB6tdNMZUZPDzddJMvF6jq35vQH2geoNXu7Hq-LEGQJJ9qU2CnFcZTIodFVfy8lk9mlHvQkfQSS2WccEnUjvPoIy8qjx-LUqHu-ji3sLCm3Z3kJcUz1F25Iznx6RdKvmMRrsPTEwZZ8BlonTPqgeFAwpBd1iMY5J6Ig=s200-no');
}
#contact .info-item .item-image-1:hover{
  background-image: url('https://lh3.googleusercontent.com/QfCq94j4qpGGP4ljeSgQSrP99Twaw6m0v3M_oGn4QUWJAC-Ty9u7NsTryu6No9G17FKykbrl-tNYQ3QnWBDXErC1iHOhUa7eYFtDoaohbTXxREfOALBqpkfBmFi1sGj5zlZ9oEudYt6p1d_DLkQv2cPPK45hNnz2OGOTzyHRj3m0IqbQCOcMAfHXi9_F5n1RmvFocXITRaZgtuXvDrVIkxjNup9uZrOwtf9vo6frcC4qW4Bm8oo1IN59tWg9ADcrCN9yFbMDzhoUbuZjMvGdxpv6Yrdbc1Ik-Zz8gZbq-Tuv0Ql58sTx8-FtZ5RSd2Pe5gQIxpWuKkpZcceZhQjgzxGXOzs_t-DIe10M1P01cl73CI4ng1SI8WZt8I2WxW14o--SYAFMJW65IPE2jlTKDS61HEZeIKoq2wlqG3FGDBYqTioMS1mcccBwJCh7GbO_OxFHsR6hqXaLnjvCWVU4yGcEHwrOozAEsshdlA88JOBGhZJsoe2bysPtqlxX7IPItcTQpGKn3rcG5x6KSuXWLsyKIZrqnqJI8XgOXtWg_fqzAge98cdOeknWVVYoTTkztTVvfxkCmB2pJUD3yEGKN6OoFj7DBqFpe2IfHnHadkqTGc1XVdnew8aBHxpIGDFscjuB1YE2b7bXAqhV_jyxQv48WIlLgjAKub-p52xbQQ=s200-no');
  background-color: #7e776e;
}

#contact .info-item .item-image-2{
  background-image: url('https://lh3.googleusercontent.com/I-HzZOp00q0-8KBS6E10FO-_HRtGRyp3oyQtqzs5PxMYZm7lmDFgpdEqOrCFQZyAs1pyVwHgGyKQfahB9kij1hPp6KDCQOw9cIpE5uvt9R-D6usZ81kdLqJj1Ir1vz7uTdn9sJtnA47mRmh8_-ZqmV9zecxd3e7KV-cmitQLh9SqVXAtCcCr71i3iuF6wc4QTE5sb1jp227a9PV44bdZIjrHR8ZLPxDZByZ-aDqFruJw58qXUsZNJjV9RUnuqQHhqnaKuhEI1KChAmiDoJIBTcBcHMfD8RhVKzwhd5NaSsltISIaudP2drb_T_kdTwrOTQzXCnruGs4V6FxqKWMJRRKsSDkqvVyOwfPUCaMZKG-FytP1ysmXQ__xml_BpI6MbcHY58fZ751Z0SBpg8fR4CRTmkmsBgo5KUhGQlnU0mU_vK554P8zswcar_YvcIwsFnjerqkmV9fgmhx2t_M589jI7O99H5pz2YzOOV7tBbgzhD9z0lV3jBm1BdIBgKZXxGiPlGGzsd6YMlZyU3cIsGSwz2o0f9dVx4nOZsm_27V3ImcVEAtx949PMcqVcXYWcJ66BYGtzLZoHJwSug2l6x8uNtLZYbFAWxA-RjqyYp0pfJ0VhjApAsWC0PfGo3EBTeroW8x3GCW-uh2niNibBhmcwWv0vSCGTvuuUFvwCw=s200-no');
}

#contact .info-item .item-image-2:hover{
  background-image: url('https://lh3.googleusercontent.com/Jbp3LVRsWTf5r4GPCUr456QVZocGTxKSd75Xnbe1PWop1oCarA0x_rAKdeeaEMjkC0nZptgnQwtCQVqHOkcFCU9zM3kRkLtwKBOHOKK-yfDGFpB3w9wicBgT3GmOcry9_Iaji605uFtvsRsPAqTU6Bgai98_gUcINC41xLOefIXLr0b2pnM0F1BkIxdETK6AL6E6hGcep5pInwC6DRRnfhSnpOsvlyag9uRbKeIMwqFBqXkhOhxgfuJKFcVUbI1UKz3LpsbShNtkWl_dhVjI8Bmn1a7pQ-xlKERjw5_SLYjWmIPEeBqhDvah6J5EmbRAca8M4G-yPoIgDaeqFGJ6NUXF-paqHiCQ2xVIHYAt8WXTdkP5dzVbv5rokJYd3TKmCxvFc7oAckCxfrd-F8hbihv959s4Of9E4UnnWlm3Jy6ajNL1sAUOWJ-wX2fmm2_vyDcg-e0jINFhmONg9BoLFrjnLyX3_-yzlCvMtsZFqOX9Ir2ZYFc7vQ71L68vooUry3s2LDqcgm213KvejczeONyUi3MkiF5jl-Wdq_AtPv0i5PlxIpuiXsNVH7ZlHS1umKaSreNpQHsIml0jeX5ohtNBQo6zJFva6R1ukYhY0mSIKitKuJHJCuB_TqLG-oHw6Y0t6KwWLnx4Vpdpgww5GIFlFutVJ8j0wxTyXEGUZg=s200-no');
  background-color: #7e776e;
}

#contact .contact-info{
  margin-top: 35px;
}

#contact form{
  margin-top: 35px;
}

#process {
  background-color: #8ba744;
}

#process .text-center {
  color: #f8f8f8;
}
#process .section-title{
  color: #f8f8f8;
}

#process > .container > div.row {
  margin-top: 50px;
}

#process .item-title{
  margin-top: 20px;
}
#process .process-item {
  height: 120px;
  width: 120px;
  border: rgba(248, 248, 248, 0.8) solid 3px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  z-index: 999;
}
.process-item:before{
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: 1;
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}

#process .process-item:hover:before{
  transform: scale(1.3);
}

#process .item-1:before{
    background-image: url(https://lh3.googleusercontent.com/_Chg5xhnrUxPz9mRKtd58IN6trzOMzkEQs4sNyf1rAhwh_HxoVBDQhDIoi0si854diagh4hvq0uUuuGKqA-2gsfO9ohNIgyySsnuxKNahO9Et0Mbz4xP0wvVvlIF0dGsJUxAulLZsmJBnR3SW8bRUCg1EUkLQXoci3D2Rb2Xr9rFG5IRi_QL1a-0v1Y4n7kg83oKOP7jz2j0B8HjoCHp9AchjbXBywYL7QE1O_XVKxOukvP3nAvrrTDFzDN5unul8XAQBB-Z94_vKzzj2g2hQ_FuS88b_1GBfHdzJ85fkJqpJp0JpU6DZGO2DKokZpJe24EIsnJSUHWKHQGgjBazIQxgVTUaSg4xBq5-oCqa741aXnK_GNkoIWIh5w4MrLEU5z9U0476LgtpfREogH6N7jDdCkCCTnnV16budT5RR0fT2cP8D1ZPLkFBbz1RDmqiovdIq3SWKLHJWFKEPJtTbEBuIqTtaPYvcg55I-oieh1S56Y8oboCasJ2D8v_rWxn2BeUONj-UheJNU_S0OS_iJiZZzQde2yzNnu8cbBSK5KJzFm1PqC2INIM0Db-vUKtRJVy2rZ6n98PFMZY8eg3Aaw2F29l1GEXqW3NtRVAqQp-wioV0k2fbzEOAbf-wGuI7GP09k2BPbDTnIqsOvSyiCWxX4V0h8kDWidowF1CVQ=w200-h199-no);
}

#process .item-2:before{
  background-image: url('https://lh3.googleusercontent.com/66dN-wOK1OQf2R-XsA1cv3xY2VbVQtsK9FNOCLIdF-xn6T-kn39Ym8kaS8vGM07rDfauTzM7bv5EaYoI7npdl2l7hgkQtb49EapG9Y-bXPXBToX-A6pLhKUjYaHcKD8reqcAtgfGO52Bpcco3NvqOaDWuJkBhDxOc6-n7gCAK7Rsag0urkYOWCuBxHtT1OHqhT43dZUnT5aW3F0JRcna9N7hN_wxmLvQwrcPnKM5vYzSt0OEX1Ss4-bHXCV1oSnm-7DCSrw7nW5UJsGy7RvoHa3Qj_QL-c3wyrb8Qc5eqP_KmJFPTC5WYLl5My0TGipbdIHYHw9lYs5inG_CI1RxbTVrlvPwwxQ_pNIK68Ny9WE0hpBM7YWs5M_8jt3KHS9TdtefM4t1Bq45o3sGBbBwF9MgXa_ApZguZDbTZqzM9hiXfSZ5sm0kl_JXFYLrZZ49Fquh15h6XBEd5B0vgGbrfoUGiaFAF8-6jizXapb4OiY5w9C8dhOJPUEGre75LtaeGsfORuRZDK7IsIS8daAbWqM7cH5NDxy1d-rm2xitt0a0daGbqICxntxMpMkM5MFFG6tdnmLKs_CkhKaAb5fwTjO1PYQHwLfkMykvhWRPcGpRXRjq0Yak2oZmEPeOtWrv0MSQn5y7ApgWYN-srW8JHNqrtMuNnD4RqvnRfIiSQg=s200-no');
}

#process .item-3:before{
  background-image: url('https://lh3.googleusercontent.com/fZntTQY-8PkfcHVCgOEPHT6-nLVnCD4LOlWFPBa88BsMZPZCEgVp3K7n7O3OeMK3Jq4wSeWd2bAGEXSw8fuKUWj_jf-BbLGr4yPkOJotlRb2KVqP58vDoIQYeVzci6sSgVRzoxL3-wySGHlouaTUyMFIXkSkcAuWu3FrjZ8fzxaQwikKvZOgiQDoQJFklksqq1xQ9uqziNRDIuzgTLB4XR-ENorDMLxrgA2gYo62cmQn0bpTIgDn0f8hIJ5R1K3byXHjbR6vipgpxcv2h4QniFN71H4YvYNY3EhGDWKyAx3H6q0NRyd8LQzmS1_avPoQR1ahr9owuLV7Sdkiys6hXSP37YpMbeXS5Lve9Q9Q7I1T9qLqBdBlikr1hO4LjoXVNiQSBVkNGrhTIsidnQZe2Tve5rqsiwAVUyWe2Ake0-Ap4_Nap0wEu2WWakc_rT4Npy7OnqxmyHUphrXzzPE_ChEnU5RCaqfPFwSfVG_448iysB6odxtqAZiDFaEBOprVl0-GDGvTnToRGODZ905x63RXPhJXuhKVSwvaZ8wBxkQ423ven-3J8_AQbYTzr0PSbKEDnkV9dL8AyOf4ZQagW_6Q-Jh0ssY7d-IYVnlBQaQllKv-dnVvKHMnfT6WrTqIgCf91sSG3RbZaOKE9QHcGP8TxCPO80V6T3Mqcdn_bA=s426-no');
}

#process .item-4:before{
  background-image: url('https://lh3.googleusercontent.com/-TOcpWJ_caHmwmeS4165uNV2powEpijMsRAXM9s0N0oc1yyUc78cq3QiA7TU6wkF0268kx8vCtvx2dp2tJlGfRz2e0aKmuLboDzu2CATrSR9Bz1GKgXLEYHCbX3WoHCHkAdyqSWOTxYT1bWqU7GnVeLpOBhd0m-3tYQHB0CdV4ipCVF2oKd_26r9p21t6TPEFOs9nKni_6a2uzb5tnFPucncVvsEQ23JsFyzfM1IRJCL9eLp0MIFfarssza1MiLlTk3frNpuhqHkq5KhSC7__HYjP4FVosefpbhde61Af9N4A0lfKuCflT0B_0jh27MzzmvHD_Txm706R3vqvaR_RIqEWMDwLeOG8Vg5MTdmIyeXeejK-TNb5LqssCPWJTBYV_tR-mZfagW2M5KX6mo0ibbHcVXI1F_0iMjSQoHn2UJrwWNph03bZ9rW-FnNr9yA3nHhlSZGFij81_mc-pLQy1z98g7KjKzAK7UsG0n-aR95a3kUWsnSoplyOKfGcXb347_SHhtunV-2kJwdYc8Otm0ryRTiJvAZ9hBIeTzvrzxAnmHuqF4k2XxvbJIl966_CoyA6uCpcgswbU7MX53lTLvWU6NuTNq7jQjWXtr6mRa3QT0jpiYmdBNm34isDPHJtd_tLHtu4Zin-2wzwDn1Mh_4Boj10s-hdiXrdCSOAw=s426-no');
}

#process .item-5:before{
  background-image: url('https://lh3.googleusercontent.com/-bLOpZDDqo1XxJTHY_w2imjMqr4t2OeaAw_ic-HNqA3Zn6XSjW1v4BFu9jKu_L1PW1bgJxkEFYVNcjQQx4CbipJil9z-RaMIfyjl44Hsk01_Phb45zjb5Bzbihjh596hAPt3PxXJoc1dLcWGNR2PFztSUc8zzlMKlIO-kCsEfUCNKFqT3qSjoT-7rei4cHRCU54QpVaIBnNESBW0lg9yTnEWWiZJYjma6KCJPHoGmuh9gJvWLyqGEg9epzUmySslmv6Y-KcZTuLsrFSEYWd7MO8GlJHczHBSoPsX5pYn2aSqmlBhlGSlKXDzzeYKEvyerFdXglmW4Npze0P8sYn21ZiXZIyKWMPdcYwwMwTqHvnwEfgd5rBqD_2vF9mCPYv1Q0yoeoFvRPS0HC3LyrOOTstu6MklURvA9gsxvNTH9WMVEyqpJT3bYYmJRvQ5nGQEUEQ5aNAgt1m1oftJcwzXIwWrNBfBnVzxJv4W5Fp2UMpmIXWv3NFr_JLeqGIaxpgbmsqrg6EPUmgXyVWg2W0CaB4eOJv-SFuq-MfXIf70BDIkiWY4S3m5ZKOF7QNcrhGZWKEW8S3fKQtyZRd3Lk3Pzj8gMwTGqNGInHG8zz1iBBO5wRNyvHjzgntKSRdmH2S5RLtesQ8hNWCd9sGGvgnV02itlHWiyr1Y7EEBf_erUg=s426-no');
}
#process > div > div > div:nth-child(5) > div:after{
  display: none;
}
#process .process-item-img{
  height: 100%;
  width: 100%;
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
  position: absolute;
}

#process .process-image-1{
  background-image: url('https://lh3.googleusercontent.com/sKaiViTbBz-0XNJLOJRgUyyJD06JFPpA1mP87AQr_uIxoJA8l2ZVltMs_cPY8jsCjszZdSApTD3XlZAtTK_3rFr2_i-inJs8y-BeP3ahaUtfYZmULc9a5W_HyY1h0Zfx3u7KiY4Ar6yyNX5f19bTn7cMiKxAAlSg66sz7BbL1rrC4ot7ei95StD4r2wIgUxehaCpNqrrHg8LpeToYr2nUxaBMTEDZ9jpArEB95-Cn2Rxia2W-3giNgjcIGtjiQDgQi7z9oPBMS4choaJwy4OzX8qxX2EaHCOxQ_lTfI11aYYU9Z5H74371k_cyzt-6b_m7frnOLHDG2YrsA1c2BQ553u0ZGJu-AnEuwlKMolqFKQK--dqAoZvEoEb_IrDrvaHsMFPAMrIlneOysdyNUIUzTt321dCaKC_GNoKsdy2mp2Nko6WhWsH67MbVdhxXQHAenAIL1zJZmpXewJAikAt2zcMKGlWGsbZ385kWcfWruexzHwHQ9VJrZaYrtO9FuZnS7ectRlwBdiwqIMu8AmPa_BezXn_OQgsfhjGv-U2eBM1minKBLv19FXssRH7NO-um2aCeVJNijqC1IIYAgqLMFEvDjqfcusIjIJHdwfap3THJYRL5qF-9mWAlURkOmm7kFvDpb6SEG_unYzW-YNeIA_7H1A7vx3uwPZsteXGQ=s512-no');
}

#process .process-image-2{
  background-image: url('https://lh3.googleusercontent.com/tqyO6uai0vHzyUDpym2P1pEU8EPv_aTsk4Ls2ByEOqkzGJFJk0HPBG5SNPdf_VjopwBs8dCuAjY3ncdbT9903x4K6IkOTjPs4WKxOqgxbX3uNHo3MR4E8ULoVD9LjWERVtoTLlKnSM-ls39Teqdncb4DmuE7aMfPMxywPXow1iUTrg03zzDddyMFs0JSitoQYL7gCzpk0HVKqnxQtYLG1I1VcB4oD90YIdWxjXL8bJ_omPL0LXbVzeftK_11fouVmOSb4XHsNneTAM8Nj1vEwiEJX9anuVnkTVUirjwaR3AGUdeGxwAFpqUL4smeO8Wqgw9Sfkw5LNuFLlRCmmrPxx7JiQJDSzw41ET5pdAyfcVfZKDEWxsnWFttFsaANHohhgVVcHRLdMcOkn3CX5b8lDqd0nBDtLE1netKaCQrkTGKjKerkn-nW0ZYTIItgi1EngdzaF2jYa62Fj_JhhewuNvnKW13KPy08cVisVcdoL-g8ihbcTrcGCsQJq4qGUelfX-0bCO-uecjmW5bhqkoU29hr0eniRJOmppl5Pksrd5DvdTLiXTParknqrZG17lFVfCOJs8gNTrHkVZrD0V4wamaEn6-VwGQ0zLgG_iK2-L31445z9rEr4fqLcQ-5cKv26ppobAYChXQsVANYW-e4Oysg-A3lg-oQcSVl40Dxw=s512-no');
}

#process .process-image-3{
  background-image: url('https://lh3.googleusercontent.com/4LE8bF7P2BybhH1Sf32VM3aHBIuK90CAiNeRemJXoYspW-YdWtjmnbwunsMbp-vN4IX4iJiqjS3SVeY9IRvYDgoaF1mxOVF7flZEfm46f2LkZB7OJittFrs7FSjvat2zLmqaHWDKCVxGCCbKkhXFT5cEfkqCXcJmnrg4oX-fvVebtl4SCNboiBbuvjF8ijZkfJagmDvgdYbN5Gmyq3V3xNtHxdMXWSL7EletxUWEfUzImqxSNv81YNcqtsv3p0J-EfdzKlZsvVqXhnn2yfXWvhBYCsdzjnIS4HjBfyHwOXnEanBdCJWF6XSQh3lyDiyjQxfSzNY2Z_XRasbOlp_kcxJlamNjDBil6FCoizPQQbZRlydDrRV_NJy5sgVi5El-KP2j623yGc5zl02QVupBrTwQolALztEEuo_JFysmKrFrqLTF918YGh3-5go7BRNp-lT4TRqoVF-G3zuQiGCFtVdhjTSLsyl-dlZjV85hQp2fTwRHntM_I9BCWgv7UeAAi3GbkahL3hYyjYQtVYV2X4NvcRQ2NubZ7vjFba80PNwEQLBfa7KuJ-x1xJSNaxKakVPxBf6jznJ16N-WcLvjFC_BMtAtv7vGIDbFLOAKtjREqA7ZPYIGjp8P4jS4a29VUHPHJwQYtzv0KBQx06_zEJoazO0jfsphjLK1bIdfuQ=s512-no');
}

#process .process-image-4{
  background-image: url('https://lh3.googleusercontent.com/88BqMxDJxzMB_0c-DDtss0H4mdzzj1FvJdQnp1Krobg1qSjaENqoVgSbbv8Ikx-p_miyRrakrsexH4Gmh3LwoZBza02mVt8oWDsuZn6wBzzfVIKofEGh1YfqoWrZwU_1sY9DLd2urwrShbBGTokXXu4vYbrh6Zt6jCR-JY5tEfzHUfExK6-CCa-vdWE0Rsh-nDaGVGR2R-zRBJchv54dJDcTnUf4h9gs7HTqX4qkKuYDETkTf0Slqh9Vcx34KAnYJiHBCN3p2fZoVT9l6kQtMX-ppfrssZWaWVdctoaprFJZT75e6ERnaHUv8I3UIWVtMm5T5Q7xWpb9CLY3J5MiXA9zm-tc9gjITOWUKtPa_HxDtWT3QkMnjCCp7cioIq8p6By6X6gxGL9DkAL-ImwuKHMzy2c4BOUUksZ57_LPOc6HWNEbKbcoLiYM9xxscDWj1zAk-OaAbB5Q2M3Z4Yj5JC4v7x3_il0_iTFCJzCq6O1dsfk6LhzFkh5_vKFq8VPwtKCROwNqgl8al2ywa_uJ4-v16d6dm7vsGJMGtgRgu6JT3yxvgnoP_RHxZOgROsYrpfg-5gO9gy6wtDV15rWEIh5R1dUjmcOSq0JgR5hrONJN07u6rIUWJojBSwVVdQi2Ye0ysdnRBSxfF6wu00xASvfJxeBRwZgikL9v00oTBQ=s512-no');
}

#process .process-image-5{
  background-image: url('https://lh3.googleusercontent.com/p3NY1McA_hyoPCEYfl14ueH_P9PChygGBV2msNycCm6AQQ32a-RrLpCXo2GVLU-Q99YK-r4SJKeVbrzEYoIkDJXNGU4jxwvdY4OmVCgTEII41P-meLhSb3jURgXavDPmC1tw1AN2G_TCjUdnEyQWijMCA2Aj4T7rqTnoXyCjD0ZON6NZHHvg8BRNc3AegNWH4zkFIhGGPEf8EMSridTEa8BzpJ0Y-sMZn5NQJUQcQhLMj9n6RQnMyiczuugK4-8JosmWGagoVch2ZA6LydYkF1UndaHJXs5lUr8_m0xa5WFzCNhUhk3rPvxNx7_t179xQZT_UiEMaH-AB5HCMrkxdLwn17--a5-AbpoM2TzyoEtvfJ_zTZIvmQKsPQbzGrIMvyeKKijz3ZpBUMlhbFSK1qPcyfoelEhprW6lVp1G8xjMUbokOncVsSLAESjUmAAQHE2Ii1eh7N5jJ6W1hF5s0TqzhH0y8EVsX88ASXdZIcsl8huJ9q346dz4v6Ahe12jMXPWDOQ56ZpGWqZnD-3fvZuzD1dKWdKpEJeEV-WS08Pr5SnQfhpeRJkigydl1vjNWn04Wt2wbMrGRkhzaFkh-_SVJAGq7lX2WfxV6AFVAYb9GcBmCStxbX3m-zWlEsb59Kbcmc1nS9G5RlEnS-HRC_t49ZqKekeF6lHMkn_Big=s512-no');
}

#process .line{
  border-bottom: #f8f8f8 solid 2px;
  left: 89%;
  top: 60px;
  width: 40%;
  position: relative;
}

#footer {
  background-color: #333;
  color: #fff;
}

#footer img {
  width: 100%;
  height: auto;
}

#footer .title{
}
#footer ul{
  padding-left: 0;
    list-style-type: none;
}

#footer .footer-sec-1{
  text-align: right;
}

#footer h5 {
  text-align: center;
}


#footer li.twitter{
  background: url(https://lh3.googleusercontent.com/2CQ341H_VYO3N6Wx4M7I8JzBF_7d7bftcrE7sKSqrdB1o-d6E7oVVUuuJ7JmCsgFHUDQeOmtNbFgldA00fp14Ond9hPQofLXGkeL8cnum5vu-I_DRggwFwOPbBgssjG_xBbXX_1klalzcv02JIWdupqV9YULqiaBQEO7A7ZeTzzmFCezbMt0zoQ8byjMWvj_6ZuliiwAwAdt6qX84pOEpKrH36eISDJ0LdRO7YTRs4D6nsjuwVEcIGmcr-8oyhOJ1peNLuHmBMN-j8GcCDORKGKTHiKkh5nb63hvZiSjJHxljxrnrH0rioDeOO9ZuqNR6Hd5VEbL2269XlvcVzTFTLqQj-UzhXPKc6XTEpCvt7d7cOCdZZrNM9xTndNINo9Yvn9daDZ_6O-gtphh8fbz3WFODJrQP0Dje3LvpqC4ZCHn6Ei8F40ACFewiUk-GuMcvHpNb3FCC1cbOMrCyQwtGGgnvXROtZxLNqoBpYZhKCwYrwm0t3f1bQr5pf_o9rF4PZFUHsgKL5ht4wBtkwqTAhnxb7iZ_4j2GsvdxBbG8A7JsRdpX-bldG5lvDYWe40GEU5ORpRG7xO4p7_vSECkX4q6Uz15BPBrI5N-VaoVb_3M0TXKrdN1pUmWp-rkaF5mrrAsD1jljEoH7BM7WzkVDIlylbptHjuourkmHqWS3w=s585-no) center ;
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  border: solid #fff 1px;
}

#footer li.twitter a,#footer li.instagram a{
  width: 40px;
  height: 40px;
  display: block;
}
#footer li.instagram{
  background: url(https://lh3.googleusercontent.com/E76_ipU5SRnUDzed2PlffMV9oY942puAZUAvnDaPkbHA2FZc5Zmt7RXE_cvD8phkzVabt9ziYFE6gspS5hqKMgyDBdTQp5O2mMyDWJqecbypo_58JdKTvFrUsB_1SzNbEAdC3OoOL4i-0CY6vnGOOIBXGzC_10l74mkAkfw9lF7BDfCofPlcfnSSSaMyDNN6q1YCuUcSt8lZG_2fLD5a9VuxuBf2z54CG07Dn0LceIdbbOCfnPTWSvhgbKe1GYilxfWeCtKfWkHOsj6BL-rSPkdceFQ-tUB2NCP7dZTJkKob6ph8JSaJEIEUj5-gXxCFFJVkxNuWhzTs5vlXyLTkZOrrFYXnf3rBxsmOYDo4h28WS0HlpaBhLy_Dg7L1nOHJ-Ao7WCOgrhGrXGMxVVwJvRyUiBxCiMff7s137HNEtKxpDAW1tr_SwX53UDu5HIBNQxMqHcbc76wyUnEPrSFJKI0x1SAaMoeq9YDLe2KV1eU_jD21CajK06DWVA8aXfo-PEYHl-VVGJF8TkczMZHN6WeyN0R2CHkBHCilKucw6ZxU_SqvMkepoi8Rso8wPNDM-OCrYTKqWk-XkUNDq7bzPihnKXxWRE6fCb_pS__2b6o06CBfnPwunUhmOs_XOg_zSqgkf6nflc-dQQ4kOZ8wjjVf7aMUzBCNr8YTU9tjCg=s585-no) center ;
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  border: solid #fff 1px;
}

#footer .footer-links a,#footer .footer-links a:hover{
  text-decoration: none;
  color: #f8f8f8
}
